form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 80%;
}

textarea {
    width: 80%;
}

button {
    background-color: steelblue;
    color: whitesmoke;
    font-size: 14px;
    border-radius: 5px;
}

hr {
    color: bisque;
    margin: 4px 10px;
}

h1 {
    color: steelblue;
    text-align: center;
}

div#container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    border-bottom: 5px;
}

div.card {
    align-content: center;
    align-items: center;
    border: solid 1px grey;
    border-radius: 15px;
    width: 90%;
    margin: 5px;
    padding: 5px;
}

ul {
    width: 100%;
    border: 5px;
    margin: 5px;
    padding: 5px;
    align-content: center;
    align-items: center;
}

h3 {
    display: inline;
    align-items: center;
    color: steelblue;
    width: 80%;
    border: 5px;
    margin: 5px;
    padding: 5px;

}

li {
    color: red;
    text-decoration: none;
    align-items: center;
    align-content: center;
    width: 100%;
    border: 5px;
    margin: 5px;
    padding: 5px;
}

p {
    color: slategrey;
    display: block;
    width: 95%;
    align-content: center;
    border: 5px;
    margin: 5px;
    padding: 5px;

    overflow-wrap: break-word;
    word-wrap: break-word;
}

button.btnExcluir {
    display: inline;
    color: steelblue 90%;
    padding: 2px 10px;
    min-width: 15%;
    border: 5px;
    margin: 5px;
    padding: 5px;
}