:root {
    size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 20%;
}

main {
    margin: 20px 0;
    gap: 20px;
    padding: 20px;
}

div {
    gap: 10px;
    margin: 5px;
    
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items:flex-end;
}

p {
    display:none;
    color: tomato;
    font-weight: 500;
    text-align: center;
}


