.grid-galery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px 15px;
    border: 4px;
    align-items: center;
    align-content: center;
    border-color: aqua;
    border-style: solid;
    padding: 20px;
}

img{
    border: 4px;
    border-color: brown;
    border-style: solid;
    border-radius: 20px;    
    width: 100%;
    height: auto;
}